body{
  margin: 0px;
  font-family: 'Oswald';

}
.PoznanHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 auto;
  background-color: white;
}
.FirstPerson{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  left: 0;
  margin: 0 auto;
  background-size: 100%;
  height: 300px;
}

.SecondPerson{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  left: 0;
  margin: 0 auto;
  background-size: 100%;
  height: 300px;
}

.FirstLeft{
  width: 50%;
  float: left;
  height: 100%;
  background-color: rgb(244, 204, 11);
  align-items: center;
  justify-content: center;
}
.FirstRight{
  width: 50%;
  float: right;
  height: 100%;
  background-color: rgb(255, 103, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.SecondLeft{
  width: 50%;
  float: left;
  height: 100%;
  background-color: rgb(255, 103, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.SecondRight{
  width: 50%;
  float: right;
  height: 100%;
  background-color: rgb(244, 204, 11);
  align-items: center;
  justify-content: center;
}
.Name{
  font-family: 'Oswald';
  font-size: 50px;
  text-align: center;
}
.social-nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-nav li{
  float: left;
}

.social-nav li a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.PersonalPhotos{

  width: 35%;

}
#ContactForm{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

}

form{
  text-align: center;
  width: 100%;
}
input{
  width: 50%;
  margin: 20px;
  border: 5px solid #FF6700;
  border-radius: 5px;
  font-weight: 800;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}
label{
  visibility: hidden;
}
button{
  font-family: 'Oswald';
  font-size: 25px;
  padding: 15px 50px;
  margin-bottom: 20px;
  background-color: rgb(244, 204, 11);
  border: 5px solid rgb(244, 204, 11);
  font-weight: bold;
}
button:hover{
  color: white;
  cursor:pointer;
}
#form_message{
  height: 150px;
}

.ContactUsHeader{
  font-size: 50px;
  text-align: center;
  color: white;
  margin-top: 100px;
}

.ContactBox{
  width: 100%;
  display: inline-block;
  left: 0;
  margin: 0 auto;
  background-image: url('/img/field.jpg');
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.InfoBox{
  width: 50px;
  height: 100px;
  position: fixed;
  top: 0px;
  background-color: black;
  z-index:1001;
}

.HomeIcon{
  background-color: rgb(255,103,0);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContactIcon{
  background-color: rgb(244, 204, 11);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 700px){
  input{
    width: 80%;
  }
  button{
    font-size: 40px;
  }
  .SocialNav{
    display: none;
  }
  .PersonalPhotos{
    width: 80%;
  }
}
