.PoznanHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50vh;
  max-height: 10%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  background-color: white;
}
.PoznanInfo{
  width: 100%;
  min-height: 80vh;
  max-height: 10%;
  position: absolute;
  top: 50vh;
  left: 0;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}
.PoznanForm{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50vh;
  max-height: 10%;
  position: absolute;
  top: 150vh;
  left: 0;
  margin: 0 auto;
  background-color: white;
}
.PoznanMap{
  width: 100%;
  min-height: 50vh;
  max-height: 10%;
  position: absolute;
  top: 150vh;
  left: 0;
  margin: 0 auto;
  background-color: white;
  text-align: center;
}
.PoznanParagraph{
  font-family: 'Oswald';
  font-size: 50px;
}

.RegistrationButton{
  font-family: 'Oswald';
  font-size: 25px;
  padding: 15px 50px;
  margin-bottom: 20px;
  background-color: rgb(244, 204, 11);
  border: 5px solid rgb(244, 204, 11);
  font-weight: bold;
}
