<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Offsight{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/HomePage.css') }}" />
    </head>
    <body>
        <div class="FirstLocation">
          <div class="FirstLocationHeader">First Location Header</div>
        </div>
        <div class="SecondLocation">
          <div class="SecondLocationHeader">Second Location Header</div>
        </div>
        <div class="ThirdLocation">
          <div class="ThirdLocationHeader">Third Location Header</div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
