<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Offsight{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/HomePage.css') }}" />
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    </head>
    <body>
        <div class="FirstLocation">
          <div class="FirstLocationHeader">
            <h1 class="LocationHeader">POZNAŃ</h1>
            <p class="DateParagraph">20.10.2017</p>
            <button class="MoreButton" type="button"><a href="{{ path('poznan') }}">Więcej</a></button>
          </div>
        </div>
        <div class="SecondLocation">
          <div class="SecondLocationHeader">
            <h1 class="LocationHeader">WROCŁAW</h1>
            <p class="DateParagraph">WKRÓTCE</p>
            <button class="MoreButton" type="button"><a href="">Więcej</a></button>
          </div>
        </div>
        <div class="ThirdLocation">
          <div class="ThirdLocationHeader">
            <h1 class="LocationHeader">ŁÓDŹ</h1>
            <p class="DateParagraph">WKRÓTCE</p>
            <button class="MoreButton" type="button"><a href="">Więcej</a></button>
          </div>
        </div>
        <div class="AboutUs">
          <div class="AboutUsHeader">
            <h1 class="AboutHeader">O NAS</h1>
            <button class="MoreButton" type="button"><a href="{{ path('onas') }}">Kontakt</a></button>
          </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
